<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">
      Edit Assessment
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <hr>
    <%= simple_form_for :assessment, url: assessment_path(@assessment), method: :patch do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
    <% end %>
  </div>
</div>
