<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">
      New Assessment
    </h1>
  </div>
</div>

<%= render 'form', assessment: @assessment %>

<%= link_to 'Back', assessments_path %> |
<%= link_to 'Home', root_path %>
