<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h1 class="index-header text-center">
              New Tutoring Session <br>
              <small> For <%= link_to @tutor.name, @tutor %> </small>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% if !@students.count.zero? %>
      <%= simple_form_for :tutoring_session, url: tutoring_sessions_path do |f| %>
        <%= render partial: 'form', locals: {f: f} %>
      <% end %>
    <% else %>
      <div class="row">
        <div class="col-md-12 text-center">
          <% if current_user.tutor? %>
            <p class="text-danger"> You have no active matches. </p>
          <% else %>
            <p class="text-danger"> This tutor has no active matches. Please match this tutor to add a tutoring session. </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
