language: ruby

rvm:
- 2.4.0

before_install:
- echo -e "machine github.ccs.neu.edu\n  login $GH_TOKEN" >> ~/.netrc

before_script:
  rake db:migrate

notifications:
  slack:
    secure: RqIgxqise+VXJ7QxtQxO+Y8KvkC2YRgDOwLAaSdttAf4BfL1IVnxByVHQIACnLHeiGrDhScP6JgBe/lZso99AIcWISCuqkSRs27TU4fGuiYPmiSNYgedIWsRwUvWF771f1RU7bgmuJ2GXt4fsgDxZ4z9eJZ6sCaRJMwbRDdKSTNYr2AsluM42MxQZvZhoumEnsgKeDliDZ9SpE2yjlzxEu1phkUdsDaO5/3wFFnCRsyPREozieQFypQk2soaUmfoJSfji5P68HpuLkORMn2EbP245JsrsjjkR6ODaYBwyP6EPiXzlVc2E5VN92su8pWKNTi3ekorHNAJlj8HZrw1L6al4EAFLLxq5Qa8B2Sf2CHd6Uufyp/GJ8Aedd82HhwP/09ThGEVNKZ3eOSappcaClR/z6jWd9Uxt9sXTZBXq1Btu+RaZJ2D83xEjkMo47IpNuT5JE3oDYMj/XlY9h9XYRrjAY0KeuFHUHWXE11NClM0Pmhh/f+0LGUxtSaPgscHtpInuXmRpPw+Q48YgzHXKUpnknSx9G7AV4XEITdp/Ts3dNT12KjnFhUIhA3FExdXB/9JUuCAHwez5+CjY3kGHIch4WF2ESlqf5i/eoXwzzPrN+xPW/trYqhc5Yf2TyEClnSnZoaY8cgxCiA7CH3bJT+xC9FceOmQ0ONTq3rdfpc=

script:
  bundle exec rspec spec --format documentation && bundle exec rubocop

after_success:
  ./scripts/sync_repos.sh

deploy:
  provider: elasticbeanstalk
  app: lvm-rails
  env: production
  bucket_name: elasticbeanstalk-us-east-1-373469085898
  region: us-east-1
  on:
    repo: LiteracyVolunteersOfMA/lvm-rails
    all_branches: true
