<div class="row">
  <div class="col-md-12">
    <h1 class="text-center">
      Edit Tutor Comment<br>
      <small> For <%= link_to @tutor.name, @tutor %> </small>
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <hr>
    <%= simple_form_for :tutor_comment, url: tutor_comment_path(@tutor_comment), method: :patch do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
    <% end %>
  </div>
</div>
