<h1>Welcome</h1>

<%= link_to 'Students', controller: 'students' %>
<%= link_to 'Tutors', controller: 'tutors' %>
<%= link_to 'New student', new_student_path %>
<%= link_to 'New tutor', new_tutor_path %>
