<div class="dashboard">
  <div class='row centered'>
    <h1> Welcome </h1>
  </div>

  <div class='row centered'>
    <div class='col-md-2 text-center'>
      <%= link_to 'Students', { controller: 'students' }, class: 'button' %>
    </div>
    <div class='col-md-2 text-center'>
      <%= link_to 'Tutors', { controller: 'tutors' }, class: 'button' %>
    </div>

    <div class='col-md-2 text-center'>
      <%= link_to 'Coordinators', { controller: 'coordinators' }, class: 'button' %>
    </div>
    <div class='col-md-2 text-center'>
      <%= link_to 'Affiliates', { controller: 'affiliates' }, class: 'button' %>
    </div>
  </div>
</div>
