<div class="col-md-6 col-md-offset-3">
  <div class="row">
    <div class="col-md-12">
      <%= link_to student_path(@student) do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span class="h4">Back To Student</span>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Edit Student Comment</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>For Student: <%= @student.name %></h4>
    </div>
  </div>

  <hr>

  <%= simple_form_for :student_comment, url: student_comment_path(@student_comment), method: :patch do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
  <% end %>

  <hr>
</div>
