<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h1 class="index-header text-center">
              Match
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6 text-center">
                <h4> Student </h4>
                <p> <%= link_to @student.name, @student %> </p>
              </div>

              <div class="col-md-6 text-center">
                <h4> Tutor </h4>
                <p> <%= link_to @tutor.name, @tutor %> </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 text-center">
                <h4> Start Date </h4>
                <p> <%= @match.start %> </p>
              </div>

              <div class="col-md-6 text-center">
                <h4> End Date </h4>
                <% if @match.end %>
                  <p> <%= @match.start %> </p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
