<div class="row">
  <div class="col-md-3 hidden-sm hidden-xs">
  </div>
  <div class="col-md-6">
    <div class="pull-left">
      <%= link_to affiliates_path do %>
        <span class="glyphicon glyphicon-arrow-left"></span>
        <span class="h4">Back</span>
      <% end %>
    </div>

    <div class="pull-right">
      <span class="h4">Add New Affiliate</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <hr>
    <%= simple_form_for :affiliate, url: affiliates_path do |f| %>
      <%= render partial: 'form', locals: {f: f} %>
    <% end %>
  </div>
</div>
