/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui/core";
@import "jquery-ui/datepicker";
@import "jquery-ui/theme";

.navbar-brand {
  padding-top: 4px;
  padding-bottom: 4px;

  img {
    display: inline-block;
    height: 42px;
  }
}

.simple_form.tutor {
  margin-bottom: 20px;
}

.radio-label {
  display: block;
}

.collection_radio_buttons {
  font-weight: normal;
  padding-left: 5px;
  padding-right: 10px;
}

.tutor_availability {
  span.checkbox:nth-child(7n+3) {
    margin-top: 15px;
  }

  span.checkbox:nth-child(3)::before {
    content: "Morning \A";
    display: block;
    font-weight: bold;
  }

  span.checkbox:nth-child(10)::before {
    content: "Afternoon \A";
    display: block;
    font-weight: bold;
  }

  span.checkbox:nth-child(17)::before {
    content: "Evening \A";
    display: block;
    font-weight: bold;
  }
}

.tutor_age_preference {
  span.checkbox:nth-child(10) {
    margin-top: 15px;
  }

  span.checkbox:nth-child(3)::before {
    content: "Male";
    display: block;
    font-weight: bold;
  }

  span.checkbox:nth-child(10)::before {
    content: "Female";
    display: block;
    font-weight: bold;
  }
}

.tutor_availability {
  span.checkbox:nth-child(7n+3) {
    margin-top: 15px;
  }

  span.checkbox:nth-child(3)::before {
    content: "Morning \A";
    display: block;
    font-weight: bold;
  }

  span.checkbox:nth-child(10)::before {
    content: "Afternoon \A";
    display: block;
    font-weight: bold;
  }

  span.checkbox:nth-child(17)::before {
    content: "Evening \A";
    display: block;
    font-weight: bold;
  }
}

.tutor_age_preference {
  span.checkbox:nth-child(10) {
    margin-top: 15px;
  }

  span.checkbox:nth-child(3)::before {
    content: "Male";
    display: block;
    font-weight: bold;
  }

  span.checkbox:nth-child(10)::before {
    content: "Female";
    display: block;
    font-weight: bold;
  }
}
