/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "jquery-ui/core";
@import "jquery-ui/datepicker";
@import "jquery-ui/theme";
@import "chosen.min";
@import "datatables.min";

body {
  position: relative;
}

.navbar {
  background-color: #f0f0f0;
}

.navbar-brand {
  padding-top: 4px;
  padding-bottom: 4px;

  img {
    display: inline-block;
    height: 42px;
  }
}

.navbar-right {
  padding-right: 0px;
  margin-right: 0px;
}

.navbar-secondary {
  margin: -20px 0 20px;
  height: 23px;
  background-color: #fcfcfc;
  border-bottom: 1px solid #e7e7e7;

  .breadcrumb {
    padding: 0 0 0 20px;
    margin: 0;
    border: 0;
    background: none;
  }

  .logged_in_as {
    padding-right: 30px;
  }
}

.dashboard{
  a {
    text-decoration: none;
  }
}
.index-header {
  font-size: 40px;
  margin: 5px;
}

#indexTable tbody tr.clickable {
  cursor: pointer;
}
.index-new-button {
  margin-bottom: 15px;
}
.index-download-button {
  margin-bottom: 15px;
}

.show-button-row {
  margin-bottom: 20px;
}

.simple_form.tutor {
  margin-bottom: 20px;
}

.radio-label {
  display: block;
}

.collection_radio_buttons {
  font-weight: normal;
  padding-left: 5px;
  padding-right: 10px;
}

.tutor_availability {
  span.checkbox:nth-child(7n+3) {
    margin-top: 15px;
  }

  span.checkbox:nth-child(3)::before {
    content: "Morning \A";
    display: block;
    font-weight: bold;
  }

  span.checkbox:nth-child(10)::before {
    content: "Afternoon \A";
    display: block;
    font-weight: bold;
  }

  span.checkbox:nth-child(17)::before {
    content: "Evening \A";
    display: block;
    font-weight: bold;
  }
}

.tutor_age_preference {
  span.checkbox:nth-child(10) {
    margin-top: 15px;
  }

  span.checkbox:nth-child(3)::before {
    content: "Male";
    display: block;
    font-weight: bold;
  }

  span.checkbox:nth-child(10)::before {
    content: "Female";
    display: block;
    font-weight: bold;
  }
}

.tutor_availability {
  span.checkbox:nth-child(7n+3) {
    margin-top: 15px;
  }

  span.checkbox:nth-child(3)::before {
    content: "Morning \A";
    display: block;
    font-weight: bold;
  }

  span.checkbox:nth-child(10)::before {
    content: "Afternoon \A";
    display: block;
    font-weight: bold;
  }

  span.checkbox:nth-child(17)::before {
    content: "Evening \A";
    display: block;
    font-weight: bold;
  }
}

.tutor_age_preference {
  span.checkbox:nth-child(10) {
    margin-top: 15px;
  }

  span.checkbox:nth-child(3)::before {
    content: "Male";
    display: block;
    font-weight: bold;
  }

  span.checkbox:nth-child(10)::before {
    content: "Female";
    display: block;
    font-weight: bold;
  }
}

section {
  margin-top: 50px;
}

label.control-label {
  color: #6d6d6d;
}

.nav-pills > li > a {
  color: #6d6d6d;
}

.nav-pills > li.active {
  a, a:hover, a:focus {
    border-left: 2px solid #8882d8;
    color: #8882d8;
    background-color: white;
  }
}

.margin-right-sm {
  margin-right: 10px;
}


// Tags
span.tag {
  color: white;
  background: #8882d8;
  border-radius: 10px;
  padding: 4px 10px;
  margin: 5px 0;
  display: inline-block;
}

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 5px 25px 5px 10px;
  border: none;
  max-width: 100%;
  border-radius: 10px;
  background-color: #8882d8;
  background-image: none;
  background-size: 100% 19px;
  box-shadow: none;
  color: white;
  line-height: 13px;
  cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  top: 4px;
  background: none;
  font-size: 16px;
  color: #dcdcdc;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close::before {
  content: "x";
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background: none;
  text-decoration: none;
}
